<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Upload Home</title>
        {% load static %}
        <!--    Load Bootstrap css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.0.min.css' %}" type="text/css" >
        <link rel="stylesheet" href="{% static 'fileupload/css/style.css' %}" type="text/css">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    </head>
    <body>
        <div class="container mt-3">
        {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
               {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                <h4>Upload file with Model</h4>
                <form action="{% url 'fileupload:save_to_model' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ icon_form }}
                    <input class="form-control btn btn-warning btn-sm mt-3" type="submit" value="Upload">
                </form>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="https://minimes.pythonanywhere.com" target="_blank">
                    <img src="{% static 'fileupload/images/MES Logo.png' %}" alt="Logo" style="height:150px">
                </a>
                <h4>Django Image upload with Model Field.</h4>
                <h4>Django 使用影像模組上傳圖片介紹。</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for icon in icons %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <div class="card mt-3">
                    <!-- Button trigger modal -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{ icon.id }}">
                        <img src="{{ icon.IconImage.url }}" class="card-img-top" alt="{{ icon.Title }}"
                             style="height: 200px;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ icon.Title }}</h5>
                        <p class="card-text">{{ icon.Description }}</p>
                        <a class="btn btn-danger btn-sm" href="{% url 'fileupload:home' %}?do=del&id={{ icon.id }}" role="button">Del</a>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#Modal{{ icon.id }}">Update</button>
                    </div>
                </div>
            </div>
            <!-- Show Image Modal -->
            <div class="modal fade" id="exampleModal{{ icon.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ icon.Title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ icon.IconImage.url }}" alt="{{ icon.Title }}" style="width:100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->
            <!-- Update Form Modal -->
            <div class="modal fade" id="Modal{{ icon.id }}" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="UpdateModalLabel">Update Data</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form action="{% url 'fileupload:update' icon.id %}" method="post" enctype="multipart/form-data" id="update_form{{ icon.id }}">
                                    {% csrf_token %}
                                  <div class="mb-3">
                                    <label for="update_title" class="col-form-label">Title:</label>
                                    <input type="text" class="form-control" id="update_title" name="update_title" value="{{ icon.Title }}" required>
                                  </div>
                                    <div class="mb-3">
                                    <label for="update_description" class="col-form-label">Description:</label>
                                        <textarea class="form-control" id="update_description" name="update_description"  required>{{ icon.Description }}</textarea>
                                  </div>
                                  <div class="mb-3">
                                    <label for="update_image" class="col-form-label">Update Image:</label>
                                    <input type="file"  class="form-control" name="update_image" accept="image/*" id="update_image" >
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                  <input class="btn btn-warning btn-sm" type="submit" value="Update" form="update_form{{ icon.id }}">
                              </div>
                            </div>
                          </div>
                        </div>
            <!-- Modal End  -->
            {% endfor %}
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <h4>Upload file to Folder</h4>
                <form action="{% url 'fileupload:save_to_file' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ upload_form }}
                    <input class="form-control btn btn-warning btn-sm" type="submit" value="Upload">
                </form>
            </div>
            <div class="col-6">
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            {% for image in images_list %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <div class="card mt-3">
                    <!-- Button trigger modal -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ShowModal{{ forloop.counter }}">
                        <img src="{{ image.path }}" class="card-img-top" alt="image"
                             style="height: 200px;">
                    </a>
                    <div class="card-body">
                        <p>Photo:{{forloop.counter}}</p>
                        <a class="btn btn-danger btn-sm" href="{% url 'fileupload:home' %}?do=del_file&file={{ image.file }}" role="button">Del</a>
                    </div>
                </div>
            </div>
            <!-- Show Modal -->
            <div class="modal fade" id="ShowModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="ModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel">Photo{{ forloop.counter }}</h1>
                            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ image.path }}" alt="Image" style="width:100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->
            {% endfor %}
        </div>
        <br><hr>
        <div>
            <h4>This is the footer.</h4>
        </div>
    </div>
        <!-- Load Bootstrap js -->
        <script src="{% static 'js/bootstrap-5.3.0.bundle.min.js' %}"></script>
        <script>
            function ShowName() {
                var filename = document.getElementById("upload_icon").files[0].name;
                document.getElementById("title").value = filename.split(".")[0];
            }
        </script>
    </body>
</html>